%fieldset
  %legend My Recipe
  .control-group
    %label.control-label{ for: :title } Title
    .controls
      = f.text_field :title, :class => 'input-xlarge', :required => true
      
  .control-group
    %label.control-label{ for: :summary } Summary
    .controls
      = f.text_area :summary, :class => 'input-xlarge', rows: 3, :required => true

  .control-group
    %label.control-label{ for: :author } Author
    .controls
      = f.text_field :author, :class => 'input-large', :required => true

  .control-group
    %label.control-label{ for: :yield } Yield
    .controls
      = f.text_field :yield, :class => 'input-large', :required => true

  .control-group
    %label.control-label{ for: :photo } Photo
    .controls
      = f.file_field :photo

  .control-group
    %label.control-label{ for: :video } Video
    .controls
      = f.file_field :video

      
%fieldset
  %legend Ingredients
  = f.fields_for :ingredients do |ingredient|
    .control-group
      .controls.form-inline
        = ingredient.text_field :content, :class => 'input-medium', :placeholder => 'Ingredient'
        = ingredient.text_field :um,      :class => 'input-small',  :placeholder => 'Type'
        = ingredient.text_field :value,   :class => 'input-small',  :placeholder => 'Value'
        = ingredient.link_to_remove raw("<i class='icon-minus icon-white'></i>"), class: "btn btn-danger"

  = f.link_to_add raw("<i class='icon-plus icon-white'></i>ingredient"), :ingredients, class: "btn btn-success"
    
        
%fieldset
  %legend Instructions
  = f.fields_for :instructions do |instruction|
    .control-group
      .controls
        = instruction.text_area :content, :class => 'input-xlarge', rows: 3
        = instruction.link_to_remove raw("<i class='icon-minus icon-white'></i>"), class: "btn btn-danger"

    .control-group
      %label.control-label{ for: :photo } Photo
      .controls
        = instruction.file_field :photo

  = f.link_to_add raw("<i class='icon-plus icon-white'></i>instruction"), :instructions, class: "btn btn-success"
    

.form-actions
  %button{:class => "btn btn-primary btn-large", :type => "submit"} Save
  or
  = link_to "Cancel", recipes_path


/ .clearfix
/   = f.label :duration, t("activerecord.attributes.recipe.duration", :default => "Duration"), :class => :label
/   .input
/     = f.text_field :duration, :class => 'text_field'
/ .clearfix
/   = f.label :cooking_time, t("activerecord.attributes.recipe.cooking_time", :default => "Cooking time"), :class => :label
/   .input
/     = f.time_select :cooking_time, :class => 'time_select'
/ .clearfix
/   = f.label :prep_time, t("activerecord.attributes.recipe.prep_time", :default => "Prep time"), :class => :label
/   .input
/     = f.time_select :prep_time, :class => 'time_select'


