%div.hrecipe.well
  %div.video
    %a.sublime{ href: "#{@recipe.video}" }
      Clikkami
      %img{ src: "http://localhost:3000/images/video-thumb.jpg", alt: "" }
    %video.sublime.zoom{ style: "display:none", width: "640", height: "360", preload: "none"}
      %source{ src: "#{@recipe.video}" }
      
  %h2.fn= @recipe.title
  by
  %span.author= @recipe.author
  %span.datePublished= @recipe.created_at
  %br
  %br
  %p.summary= @recipe.summary
  %img{ src: "#{@recipe.photo}", class: "photo", width: 100, height: 100, alt: "#{@recipe.title}"}

  %section.ingredients
    %h3 Ingredients
    %ul
      - for i in @recipe.ingredients do
        %li.ingredient= i.content

  %section.instructions
    %h3 Instructions
    - for i in @recipe.instructions do
      %dl{ class: "instruction alt"}
        %dd.img
          = image_tag i.photo unless i.photo.blank?
          / %img{ src: "#{i.photo}"}
        %dd
          = i.content
    
  
  
  
    / %h3 Instructions
    / %ol
    /   - for i in @recipe.instructions do
    /     %li.instruction
    /       .clearfix
    /         .pull-right
    /           %img{ src: "#{i.photo}"}      
    /         %span= i.content
          
  .form-actions
    = link_to "Back", recipes_path, :class => 'btn'
    = link_to "Edit", edit_recipe_path(@recipe), :class => 'btn'
    = link_to "Delete", recipe_path(@recipe), :method => "delete", :confirm => "#{t("web-app-theme.confirm", :default => "Are you sure?")}", :class => 'btn'


