%div.hrecipe.well
  %h2.fn= @recipe.title
  
  %span.author= "@#{@recipe.author}"
  .datePublished= "posted #{time_ago_in_words(@recipe.created_at)} ago"
  - unless @recipe.video.blank?
    .video
      %a.sublime{ href: "#{@recipe.video}" }
        %i.icon-facetime-video
        watch video
      %video.sublime.zoom{ style: "display:none", width: "640", height: "360", preload: "none"}
        %source{ src: "#{@recipe.video}" }
  %br
  %br
  %p.summary= @recipe.summary
  %img{ src: "#{@recipe.photo}", class: "photo", width: 100, height: 100, alt: "#{@recipe.title}"}

  %section.ingredients
    %h3 Ingredients
    %ul
      - for i in @recipe.ingredients.order("ingredients.id asc") do
        %li.ingredient= i.content

  %section.instructions
    %h3 Instructions
    - for i in @recipe.instructions.order("instructions.id asc") do
      %dl{ class: "instruction alt"}
        %dd.img
          = image_tag i.photo unless i.photo.blank?
          / %img{ src: "#{i.photo}"}
        %dd
          = i.content
    
          
  .form-actions
    = link_to "Back", recipes_path, :class => 'btn'
    - unless current_user.nil?
      = link_to "Edit", edit_recipe_path(@recipe), :class => 'btn'
      = link_to "Delete", recipe_path(@recipe), :method => "delete", :confirm => "#{t("web-app-theme.confirm", :default => "Are you sure?")}", :class => 'btn'


