.navbar.navbar-fixed-top
  .navbar-inner
    .container
      %a.btn.btn-navbar{"data-target" => ".nav-collapse", "data-toggle" => "collapse"}
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      %a.brand{:href => ""}Friggione.it
      .nav-collapse
        %ul.nav
          %li= link_to "Ricette", "/recipes"
          - unless current_user.nil?
            %li= link_to "Nuova ricetta", "/recipes/new"
          
        .pull-right
          %ul.nav
            - if current_user
              %li.dropdown
                %a{ class: "dropdown-toggle", href: "#", "data-toggle" => "dropdown" }
                  %img.size19{ src: "#{current_user.image}" }
                  %b.caret
                %ul.dropdown-menu
                  %li.current-user
                    %a                      
                      = current_user.name
                    
                  %li
                    = link_to "Sign Out", signout_path
            - else
              %li
                %a{ href: "/auth/twitter" }
                  %img{ src: "#{asset_path('sign-in-with-twitter-d.png')}", alt: "Sign in with twitter"}
              %li
                %a{ href: "/auth/facebook" }
                  %img{ src: "#{asset_path('facebook-login-button.png')}", alt: "Sign in with facebook"}